:root {
   --white-color:#fff;
   --black-color:#000;
   --text-color:#333;
}
*{/* inherit from html*/
   box-sizing:inherit;
}

html {
   /*alsway 16px=100%||62.5%=10px*/
   font-size:62.5%;
   line-height:1.6rem;
   font-family: 'Merriweather', serif;
   box-sizing: border-box;
}

.grid {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
}
.grid__full-width {
   width: 100%;
}

.grid__row {
   display: flex;
   flex-wrap: wrap;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

.header{
   background: #108dc7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #e84a5f, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #e84a5f, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
   font-family: 'Cormorant', serif;
   height: var(--navbar-header);
}
.header__navbar{
   display:flex;
   justify-content: space-between;
   height:var(--navbar-height);
}
.header__navbar-list{
   list-style: none;
   padding-left: 0;
   margin:4px 0 0 0;
}
.header__navbar-item{
   margin: 0 10px;
   position: relative;
   min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link{
   display: inline-block;
   font-size:1.5rem;
   color: var(--white-color);
   text-decoration: none;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
   cursor: pointer;
   color: rgba(255,255,255,0.7);
}
.header__navbar-item-strong{
   font-weight: 700;
}

.header__navbar-item-separate::after {
   content:"";
   display: block;
   position: absolute;
   border-left: 1px solid #fff;
   right:-9px;
   height:14px;
   top: 50%;
   transform: translateY(-50%); /*==6px*/
}
.header__navbar-icon-link{
   text-decoration: none;
   color: var(--white-color);
}
.header__navbar-icon {
   font-size: 1.8rem;
   margin: 0 5px;
}
.header__navbar-title--no-pointer{
cursor: text;
color: var(--white-color);
}

/* Qr */
.header__qr{
   width:200px;
   background-color: var(--white-color);
   position: absolute;
   left: 0;
   top: 120%;
   padding:8px;
   border-radius: 2px;
   display: none;
   animation: fadeIn ease-in 0.3s;
}
.header__qr::before{
   top: -13px;
   position: absolute;
   content: "";
   width: 100%;
   left: 0;
   height: 20px;
   display: block;
}
.header__qr-img{
   width: 100%;
}
.header__qr-apps{
   display: flex;
   justify-content:space-between;
}
.header__qr-img--link{
   height: 16px;
}
/*or nth-child(1)*/
.header__qr-link:first-child{
   margin-right:10px;
}
.header__navbar--has-qr:hover .header__qr{
   display: block;
}
.header__navbar-item--has-notify:hover .header__notify{
   display: block;
}

/* Header notification */
.header__notify{
   position: absolute;
   top:110%;
   width:400px;
   right:0;
   border:1px solid var(--text-color);
   background-color: var(--white-color);
   cursor: default;
   transform-origin:90% top;
   animation: headerNoti ease-in 0.3s;
   display: none;
}
/* Create rectangle choose notify */
.header__notify::before{
   content:"";
   border:20px solid;
   border-width:20px 27px;
   border-color: transparent transparent var(--white-color) transparent;
   position: absolute;
   right: 12px;
   top:-29px;
}
@keyframes headerNoti {
   from{
      opacity: 0;
      transform: scale(0);
   }
   to{
      opacity: 1;
      transform: scale(1);
   }
}
.header__notify-header{
height: 40px;
background-color: var(--white-color);
}
.header__notify-header h3{
   color:var(--black-color);
   margin: 0 0 0 12px;
   font-size: 2rem;
   }
.header__notify-list{
   padding-left:0;

}
.header__notify-item--viewed{
   background: linear-gradient(24deg, rgba(222,180,184,0) 10%, rgba(24,158,255,0.26404065043986347) 43%, rgba(148,233,196,0.4209033955379027) 70%);
}
.header__notify-item:hover{
   background: var(--white-color);
}
.header__notify-link{
   display: flex;
   align-items: center;
   text-decoration: none;
}
.header__notify-img{
   width:100px;
   object-fit: contain;
   margin:10px 30px;
}
.header__notify-product{
   margin-left: 12px;
   display: block;
   font-size: 1.4rem;
   color:var(--black-color)
}
.header__notify-decription{
   display: block;
   font-size: 1.2rem;
   color: var(--text-color);
}
.header__notify-footer {
}
.header__notify-footer-btn {
   text-decoration: none;
   color:var(--black-color);
   margin: auto;
   padding: 8px 0;
   text-align: center;
   display: block;
   font-size: 1.6rem;
} 
/* authen Moddal */
.auth-form{
   width:500px;
   height: 450px;
   background-color: var(--white-color);
   border-radius:5px;
   overflow: hidden;
}
.auth-form__container {
   padding: 0 32px;
}
.auth-form__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 12px;
   margin-top:8px;
}
.auth-form__heading {
   font-size:1.8rem;
   font-weight: 400;
   color:var(--text-color)
}
.auth-form__switch-btn {
   font-size:1.6rem;
   font-weight: 400;
   color:var(--all-color);
   cursor:pointer;
}

.auth-form__form{
}
.auth-form__input{
   width:100%;
   height:40px;
   margin-top:16px;
   padding: 0 12px;
   font-size:1.4rem;
   border:1px solid var(--border-color);
   border-radius:3px;
   outline: none;
}
.auth-form__input:focus {
   border-color:#888;
}
.auth-form__outside {
   margin-top:20px;
}
.auth-form__help{
   display:flex;
   justify-content: flex-end;
}
.auth-form__help-link{
   text-decoration: none;
   font-size:1.2rem;
   color:#939393;
}
.auth-form__help-separate{
   display:block;
   height:20px;
   margin: 0 16px;
   border-left:1px solid #EAEAEA;
}
.auth-form__help--forgot{
   color:var(--all-color);
}
.auth-form__text {
   font-size:1.2rem;
   line-height: 1.8rem;
   text-align:center;
   padding:0 12px;
}
.auth-form__text-link {
   color:var(--all-color);
   text-decoration: none;
}
.auth-form__controls {
   margin:20px 0;
   display:flex;
   justify-content: flex-end;
}
.auth-form__controls-back{
   margin-right:8px;
}
.auth-form__socials {
   display:flex;
   margin-top:32px;
   justify-content: space-between;
   background-color:#F5F5F5;
   padding:16px 36px ;
}
.btn.btn--with-icon{
   font-size:12px;
   height:32px;
}
.auth-form__socials--facebook{
   background-color:#4267B2;
   color:var(--white-color)
}
.auth-form__socials--google{
   background-color: var(--white-color);
}
.auth-form__socials-title{
   padding:0 14px;
}

/* header with search */

.header-with-search{
   height:var(--header-with-search-height);
   display:flex;
   align-items: center;
   margin:0 10px;
}
.header-logo{
   width:200px;
}
.header-logo__img{
   width:150px;
   fill:#fff;
}
.header__search{
   height:40px;
   background-color:var(--white-color);
   flex:1;
   border-radius:3px;
   display:flex;
   align-items: center;
}
.header-cart__icon{
   width:150px;
   color:var(--white-color);
   font-size:2.4rem;
   text-align:center;
   margin-top:10px;
}
.header__search-input{
   flex:1;
   border:none;
   outline: none;
   height:100%;
   color:var(--text-color);
   border-radius:3px;
   padding: 0 16px;
   font-size:1.6rem;
}
.header__search-select{
   color:var(--text-color);
   font-size:1.6rem;
   margin-right: 10px;
}
.header__search-select-label{
   border-left:1px solid #ccc;
   padding-left:16px;
}
.header__search-select-label-icon{
   font-size:1.4rem;
   margin:10px;
}
.header__search-btn{
   background-color:var(--all-color);
   border:none;
   height:34px;
   border-radius:3px;
   margin-right:3px;
   width:60px;
}
.header__search-btn-icon{
   font-size:1.4rem;
   color:#fff;
}
/* List item category */
.wrapper{
   width: 1220px;
   max-width: 100%;
   margin: 0 auto;
   border-bottom: 2px solid var(--all-color);
   border-top: 2px solid var(--all-color);
   padding:20px 0;
}
.header__title{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   font-size:20px;
   padding:20px;
   color:#ccc;
}
.list__category-all{
  width:100%;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
}
.list__category-item{
  list-style:none;
  float:left;
  height:100%;
}
.list__category-product{
  height:100%;
}
.list__category-link{
  text-decoration:none;
  color: rgba(0,0,0,0.8);
  border-right: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  background-color: #fff;
  display: block;
  position: relative;
}
.list__category-info{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:150px;
  width:120px;
}
.list__category-info--img{
}
.list__category-info--img .item{
  width:80px;
  height:55px;
}
.list__category--content{
  align-self:center;
}
.list__category-item:hover{
  border:1px solid rgba(0,0,0,0.05);
}
.section__icon{
   position: absolute;
   top:50%;
   right:0;
}
.section__icon-btn{
   border-radius:50%;
   outline:none;
   font-size: 16px;
   background-color:#fff;
}
.section__icon-do{
   color: rgba(0,0,0,.54);
}

/* Suggest Today list Item */
.suggest-control{
   width:100%;
   border-bottom: 5px solid var(--all-color);
}
.suggest{
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
}
.suggest__content{
  height:60px;
  width:1200px;
}
.suggest__header{
display:flex;
list-style:none;
align-items:center;
}
.suggest__header-item{
 width:210px;
}
.suggest__header-content-item{
  color:var(--all-color);
  font-size:20px;
  padding-bottom:10px;
  border-bottom:3px solid var(--all-color);
}
.suggest__body{
   width:1200px;
   height:900px;
   background-color:#f5f5f5;
}
.suggest__body-item{
  height:245px;
  width:198px;
  display:flex;
  flex-direction:column;
  padding:5px;
  background-color:#fff;
}
.suggest__body-item-img{
  align-self:center;
}
.suggest__body-info{
  
}
.suggest__body-total{
  display:flex;
  justify-content:space-between;
}
.suggest__body-total-item{
  color:var(--all-color);
}
.suggest__body-total-done{
  font-size:12px;
  color:#738273;
}
.suggest__body-listitem-e:hover
{
   border:1px solid var(--all-color);
}
.suggest__body-listitem{
   background-color:#f5f5f5;
   display:flex;
   flex-wrap:wrap;
   margin:0;
   padding:0;

}
.suggest__body-listitem-e{
   display:block;
   width:200px;
   list-style: none;
   padding:0;
   margin:0;
   position:relative;
}
.suggest__body-listitem-e:hover:after{
  border:1px solid var(--all-color);
  content:"Tìm sản phẩm tương tự";
  display:block;
  text-align:center;
  padding-top:2px;
  width:198px;
  color:#fff;
  height:26px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius: 3px;
  background-color:var(--all-color);

}
.suggest__body-end{
   padding-top:40px;
   display:flex;
   justify-content: center;
   margin:0;
}
.suggest__body-end-btn{
   color:var(--all-color);
   font-size:16px;
   border-radius:3px;
   outline: none;
   padding:5px 200px;
   background-color:#fff;
   margin:0;
}

/* Banner */
.banner{
   width:100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   padding:50px;
   background-color:#f5f5f5;
   border-bottom:1px solid var(--all-color);
}
.banner__header{
   display:flex;
   width:1200px;
   height:60px;
   justify-content:space-between;
   align-items: center;
   border:1px solid rgba(0,0,0,0.05);
   background-color: var(--white-color);
}
.banner__header-left{
   font-size:16px;
   padding:10px;
   color:var(--text-color);
}
.banner__header-right{
   padding:10px;
}
.banner__header-right-link{
   text-decoration: none;
   color:var(--all-color);
   font-size: 14px;
}
.banner__header-right .icon{
   color:var(--all-color);
   font-size:16px;
}
.banner__body{
   width:1200px;
   max-width: 100%;
   margin:auto 0;
   background-color: var(--white-color);
}
.banner__body-list{
   width:100%;
   height:105px;
   margin:0;
   align-self:center;
   padding:0;
   display:flex;
   flex-wrap: wrap;
}
.banner__body-item{
   border:1px solid rgba(0,0,0,0.04);
   width:20%;
   height:105px;
   list-style:none;
   display:flex;
   justify-content:center;
   align-items: center;
   cursor: pointer;
}
.banner__body-item-left{
   display:flex;
   flex-direction: column;
}
.banner__body-item-left-content{
   font-size:14px;
   color:var(--text-color);
}
.banner__body-item-left-infor{
   font-size:10px;
   color:rgba(0,0,0,0.5)
}
.banner__body-item-right{
   padding:0;
   margin-top:5px;
}
.banner__body-item-img{
   margin:0;
}
/* search Top  */
.search{
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   display:flex;
   flex-direction: column;
}
.search__header{
   display:flex;
   justify-content: space-between;
   padding:40px 40px 0 40px;
}
.search__header-left{
   font-size:16px;
   color:var(--text-color);
}
.search__header-right-link{
   text-decoration: none;
   color:var(--all-color);
   font-size:14px;
}
.search__header-right-link .icon{
   margin-left:5px;
}
.search__body{

   width:100%;
   margin-top:0;
   padding:0;
}
.search__body-list{
   width:100%;
   height:330px;
   display:flex;
   flex-wrap:wrap;
   cursor: pointer;
}
.search__body-item{
   width:33%;
   height:100%;
   display:flex;
   align-items: center;
   border:1px solid rgba(0,0,0,0.0.5);
}
.search__body-item-right{
   padding:0 10px;
}
.search__body-item-content{
   position: absolute;
   bottom:-50%;
}



/* Footer */

.footer{
   width:1200px;
   max-width: 100%;
   margin:auto 0;
   height:100%;
}
.footer__section{
   height:100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-left: 250px;
   border-bottom: 1px solid rgba(0,0,0,0.05);

}
.footer__section-heading{
   margin:0;
   padding-top:30px;
}
.footer__section-information{
    color: rgba(0,0,0,.54);
    margin: .625rem 0 0;
}
.footer__body{
   height:500px;
   width:100%;
   margin-top:50px;
   display: flex;
   justify-content: space-around;
   padding:200px;
   border-top: 5px solid var(--all-color);
}
.footer__body-logo{
   text-align: center;
}
.footer__body-link{
   text-decoration: none;
   color:var(--text-color);
}
.footer__body-link-icon {
   font-size: 20px;
   padding:10px;
}
.footer-body-infor{
   display:flex;
}
.footer__body-qr{
   width:100px;
   height:100px;
}
.footer__body-qr-img{
   width:100px;
}
.footer__body-logoapp{
   width:50px;
   height:50px;
}
.footer__body-logoap-img{
   width:100px;
}
.footer__body-logo-img{
   padding-top:20px;
   width:400px;
}
.footer__body-link{
   display: block;
}
.footer__end{
   font-family: 'Cormorant', serif;
   padding:100px;
   height:300px;
   width:100%;
   background-color:var(--all-color);
}
.footer__end-content{
   display:flex;
   justify-content:space-around;
   padding-bottom: 50px;
   font-size: 14px;
   color:var(--white-color)
}
.footer__end-from{
   text-align: center;
   margin-top: 50px;
   font-size: 10px;
   color:var(--white-color)
}

/* Demo */
.full-home-banner-wrapper {
	width: 1200px;
	height: 353px;
	max-width: 100%;
	background-color: #FFF;
	border: 1px solid #DDD;
	margin: 10px auto;
}

.container {
	width: 1200px;
	height: 235px;
	margin: 0 auto;
}

.full-home-banner {
	display: flex;
	flex-direction: row;
}

.full-home-banner__main-banner {
	flex-basis: 796.66px;
}

.full-home-banner__main-banner img {
	width: 796.66px;
	height: 235px;
}

.full-home-banner__right-wrapper {
	margin-left: 5px;
}

.full-home-banner__right-wrapper img {
	width: 398.34px;
	height: 115px;
}

.full-home-banner__options {
	height: 108px;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.full-home-banner__options a {
	text-decoration: none;

}
 
.full-home-banner__options-option img {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto;
}


.full-home-banner__options-option {
	width: 100px;
	height: 80.2px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.option-title {
	text-align: center;
	font-size: 13px;
	color: #000;
	margin: 0 0 8px;
}
.full-home-banner__options {
	display: flex;
}

.welcome-package-banner img {
	width: 1200px;
	height: 110px;
}

.welcome-package-banner {
	width: 1200px;
	height: 110px;
	margin: 20px auto;
	display: flex;
}

.shopee-header-section__header {
	margin: 20px auto;
	width: 1200px;
	height: 61px;
	display: flex;
	align-items: center;
	background-color: #FFF;
}

.shopee-header-section__header-link {
	width: 102px;
}

.shopee-header-section_header__title {
	flex-grow: 1;
	margin-left: 20px;
	margin-top:  10px;
}

.flash-sale-header-with-countdown-timer {
	display: flex;
}

.flash-sale-header-timer__count {
	width: 20px;
	height: 20px;
	background-color: #000;
}

.flash-sale-header-timer {
	display: flex;
}

.shopee-button-no-outline {
	color: var(--all-color);
	text-transform: capitalize;
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	outline: none;
	font-weight: 300;
	font-size: 15px;
}

.shopee-header-section__header a {
    text-decoration: none!important;
    color: var(--all-color);
}

.shopee-header-section__header__title {
	font-size: 15px;
}

.shopee-header-section__content {
	width: 1200px;
	margin: 0 auto;
}

.image-carousel__item-list {
	list-style: none;
}

.image-carousel__item {
	width: 173px;
	height: 173px;
}

.flash-sale-item-card-link {
	text-decoration: none;
}

.flash-sale-item-card__image {
	width: 173px;
	height: 173px;
	background-image: url("img/list-1.jfif");
	background-size: contain;
	display: flex;
	justify-content: flex-end;
}

.image-carousel__item-list-wrapper {
    height: 100%;
    overflow: hidden;
}

.image-carousel__item-list {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.flash-sale-item-card__lower-wrapper {
	    width: 173px;
    padding: 5px 0px;
    color: var(--all-color);
}

.flash-sale-item-card__lower {
	text-align: center;
	font-size: 25px;
}

.flash-sale-progress-bar__wrapper {

    text-align: center;
    color: #FFF;
    background-color: var(--all-color);
    border-radius: 10px;

}

.flash-sale__sale-percent {
	display: flex;
	flex-direction: column;
	width: 45px;
	height: 45px;
	background-color: yellow;
}

.flash-sale__percent {
	color: var(--all-color);
	text-align: center;
	font-weight: bold;
}

.flash-sale__sale {
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.shopee-header-section__content {
	background-color:#f5f5f5;
	padding: 10px 10px;
	border: 1px solid #ddd;
}

.skinny-banner {
	width: 1200px;
	height: 110px;
	display: flex;
	margin: 20px auto;
}

.skinny-banner .skinny {
	width: 400px;
	height: 110px;
}

.skinny-banner__one {
	background-image: url(img/skinny-banner1.jfif);
	background-size: contain;
}

.skinny-banner__two {
	background-image: url(img/skinny-banner3.jfif);
}
.skinny-banner__three {
	background-image: url(img/skinny-banner2.jfif);
}



